@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);

body{
  font-family: "Roboto";
  color: #333333;
}

header {
  height: 230px;
  width: 100%;
  min-width: 230px;
  background-size: contain;
  background-image: url("https://github.com/jeremiahalex.png");
  background-position: center; 
  position: relative;
}

h1 {
  background: black;
  opacity: 0.8;
  color: white;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  letter-spacing: 5px;
  overflow: hidden;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 0;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
}

main {
  padding: 10px;
/*   background: whitesmoke; */
  background: -webkit-linear-gradient(top, white, whitesmoke);
  background: linear-gradient(to bottom, white, whitesmoke);
}

footer {
  border-top: 1px dashed grey;
  background: white;
  opacity: 0.8;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

aside {
  height: 200px;
  width: 100%;
  background-attachment: fixed;
  background-size: contain;
  background-image: url("http://images.naldzgraphics.net/2015/04/24-free-low-poly-background-texture.jpg");
  background-position: center; 
/*   position: relative; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
/*   letter-spacing: -5px; */
}

.tagline-item {
  font-size: 4em;
  line-height: 0.3em;
  padding: 0;
  margin: 0;
}

.intro {
  border-bottom: 3px solid grey;  
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.alternate-color {
  color: lightblue;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 5px;
  padding: 5px;
  background-color: #eeeeee;
  text-decoration: none;
  letter-spacing: 0.3em;
}
.link-item:hover {
  background-color: lightblue;
}